p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/* end global styles */

.navbar-default {
  background-color: transparent;
  border: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: rgba(17, 17, 17, .5);
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:hover {
  color: #f8512f;
  background-color: rgba(17, 17, 17, .5);
}

  /* end navbar */

.carousel-inner .item {
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  padding-bottom: 50px;
}

.carousel-indicators .active {
  background-color: #f8512f;
}

.btn-primary,
.btn-primary:hover{
background-color: #f8512f;
border-color: #f8512f;
}

  /* carousel imgs */
.slide-logo {
  max-height: 300px
}

.first-slide {
  background-image: url('../img/wood-2.jpg');
}

.second-slide {
  background-image: url('../img/restaurant-2.jpg');
}

.third-slide {
  background-image: url('../img/farm-2.jpg');
}

  /* end carousel  */

#our-story {
  min-height: 600px;
  display: flex;
  align-items: center;
}

#our-story h1,
#review h1,
#menu h1 {
  font-family: 'Lobster', cursive;
  color: #f8512f;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0a0a0a;
  }

  #our-story h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 12em;
    color: rgba(149, 147, 147, 0.2);
    position: absolute;
    z-index: -1;
  }

#our-story h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-top: 0;
  }

  /* end our-story */

#review {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../img/food_review.jpg');
  }

#review p {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-shadow: 1px 1px 5px #0a0a0a;
  }

#review .container {
  background-color: rgba(20, 20, 20, .6);
  padding: 10px;
  border-radius: 5px;
  }

  /* end quote */

#menu {
  min-height: 600px;
  background-size: cover;
  background-image: url('../img/black_linen.png');
  }

#menu h1 {
  color: #fff;
  }

#menu a {
  color: #f8512f;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#menu .container div.row:nth-child(2n) {
  margin-left: 0;
}

#menu .tab-pane .row {
  margin: 0;
}

#menu .tab-content .food {
  background-color: #fff;
  padding: 10px;
}

/* end menu */

#contact {
  background-color: #f8512f;
  min-height: 600px;
  color: #fff;
  padding-bottom: 50px;
}

#contact h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 4em;
  margin-top: 50px;
}

#contact form {
  background-color: #ff6633;
  border: 1px solid #fff;
  padding: 15px;
}

#contact .form-group span {
  color: #ff0d06;
}

#contact h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1em;
}

/* end contact */
